<% if appointments.present? %>

  <table>
    <thead>
      <tr>
        <th><%= doctor ? 'Patient' : 'Doctor' %></th>
        <th>Phone</th>
        <th>Status</th>
        <th>Time</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% appointments.each do |app; doctor_or_client| %>
        <%  doctor_or_client = doctor ? app : app.doctor_employment.doctor %>
        <tr>
          <td><%= doctor_or_client.name %></td>
          <td><%= doctor_or_client.phone %></td>
          <td><%= app.status.capitalize %></td>
          <td><%= app.scheduled_at %></td>
          <% unless app.completed? %>
            <% if app.initiated? %>
              <td><%= link_to 'Cancel', cancel_appointment_path(app) %></td>
            <% end %>
            <% if ! doctor %>
              <td><%= link_to 'Mark as completed', complete_appointment_path(app)  %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <p>You have no appointments yet</p>
  <% end %>