<h3><%= link_to 'Dr. ' + empl.doctor.name, empl.doctor %></h3>
<h4><%= empl.doctor.specialties.all.map(&:name).join(', ') %></h4>
<% if for_search_page %>
	<strong><%= link_to empl.clinic.name, empl.clinic %></strong>
<% end %>
<p><%= empl.consultation_currency + ' ' + empl.consultation_price.round.to_s %></p>


<div>
  <% if empl.doctor.is_for_instant_booking? %>
    book appointment
  <% else %>
    <%= link_to empl.doctor.phone, "tel:#{empl.doctor.phone}" %>
  <% end %>
</div>