<%= form_for([:account, @spree_appointment]) do |f| %>
  <% if @spree_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spree_appointment.errors.count, "error") %> prohibited this spree_appointment from being saved:</h2>

      <ul>
      <% @spree_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :scheduled_at %><br>
    
    <%= f.date_select :scheduled_at, { discard_year: true } %>
    <%= select_tag "#{f.object_name}[scheduled_at(4)]", options_for_select(Spree::TimeSlot.all, current_time_slot ) %>
  </div> 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cause %><br>
    <%= f.text_area :cause %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.select :payment, options_for_select([["Cash",'cash'],["Online Card",'online']]) %>
  </div>
  <%= f.hidden_field :doctor_employment_id, value: params[:doctor_employment_id] %>
  <div class="actions">
    <%= f.submit 'Book' %>
  </div>
<% end %>
