= form_for([:account, @spree_appointment]) do |f|
  - if @spree_appointment.errors.any?
    #error_explanation
      %h2
        Appointment failed to create:
      %ul
        - @spree_appointment.errors.full_messages.each do |message|
          %li= message
  .form-group
    %label Pick a time slot
    .clearfix
      = select_date appointment_default_day, { discard_year: true, discard_time: true, start_day: Date.today.day }, { class: 'form-control date-select-inline', data: { slot_date_select: true, slot_dr_id:  @appointee.id } }
    .slots-group
      = render partial: 'time_slots', locals: { slots: @appointee.slots_at(appointment_default_day)}
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: 'Full name'
  .form-group
    = f.label :phone, 'Mobile'
    = f.text_field :phone, class: 'form-control', placeholder: 'Mobile phone'
    %span.help-block You will receive SMS with verification code on that number. Type without '+91'
  .form-group
    = f.label :address
    = f.text_area :address, class: 'form-control', placeholder: 'Address'
  - unless spree_user_signed_in?
    .row
      .col-md-6
        = f.label :email
        = f.text_field :email, class: 'form-control', placeholder: 'Email'
  .form-group
    = f.label :cause
    = f.text_area :cause, class: 'form-control', placeholder: 'Cause'
  -#.form-group
    = f.label :payment
    = f.select :payment, options_for_select([["Cash",'cash'],["Online Card",'online']]), class: 'form-control'
  = f.hidden_field :appointmentable_id, value: @appointee.id
  = f.hidden_field :appointmentable_type, value: @appointee.class.name
  = f.submit 'Book', class: 'btn btn-primary'
