%h1 Please review the appointment
= form_for [:account, @spree_appointment] do |f|
  = f.hidden_field :status, value: 'completed'
  .checkbox
    = f.label 'Recommend this doctor' do
      = f.check_box :recommended
      Recommend that doctor
  %p
    = label_tag 'Review'
    %br/
    = f.fields_for :review  do |rf|
      = rf.text_area :text
      %br/
  = f.submit 'Save'
  - #end
