<h1>Please review the appointment</h1>
<%= form_for [:account, @spree_appointment] do |f| %>
	<%= f.hidden_field :status, value: 'completed' %>
	<%# unless current_spree_user.doctor? %>
		<p>
			<%= check_box_tag :user_recommends %>
			<%= label_tag 'Recommend this doctor' %>
		</p>
		<p>
		<%= label_tag 'Review' %><br />
		<%= f.fields_for :review  do |rf| %>
			<%= rf.text_area :text %> <br />
		<% end %>
		</p>
		<%= f.submit 'Save' %>
	<% #end %>
<% end %>