%p#notice= notice
%p
  %strong Status:
  = @spree_appointment.status
%p
  %strong Name:
  = @spree_appointment.name
%p
  %strong Phone:
  = @spree_appointment.phone
%p
  %strong Address:
  = @spree_appointment.address
%p
  %strong Email:
  = @spree_appointment.email
%p
  %strong Cause:
  = @spree_appointment.cause
%p
  %strong Payment:
  = @spree_appointment.payment
