%h1 Verify your phone please
[debug] verification code is:
= @verification.token
.row
  .col-md-6
    = form_for @verification do |f|
      .form-group
        = label_tag  do
          Verification code from SMS
          = f.text_field :entered_token, class: 'form-control', placeholder: '4-digit number'
      = hidden_field_tag 'verification[id]', @verification.id
      .form-group
        = f.submit 'Verify'