.row
  .col-md-6
    - if @spree_clinic.errors.any?
      #error_explanation
        %h2
          = pluralize(@spree_clinic.errors.count, "error")
          prohibited this clinic from being saved:
        %ul
          - @spree_clinic.errors.full_messages.each do |message|
            %li= message
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    = f.fields_for :suburb, (@spree_clinic.suburb || @spree_clinic.build_suburb) do |sf|
      .form-group
        = sf.label :city_id
        = sf.collection_select :city_id, Spree::City.all, :id, :name, { prompt: 'Choose a city please...' }, { class: 'form-control' }
      .form-group
        = sf.label :name
        = sf.text_field :name, class: 'form-control'
    .form-group
      = f.label :street
      = f.text_field :street, class: 'form-control'
    .form-group
      = f.label :building
      = f.text_field :building, class: 'form-control'
    %label or enter coordinates for exact position
    .row
      .col-xs-6
        = f.text_field :latitude, value: nil, class: 'form-control', placeholder: 'Latitude'
      .col-xs-6
        = f.text_field :longitude, value: nil, class: 'form-control', placeholder: 'Longitude'
    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control'
    .form-group
      = f.label :services_list
      = f.text_area :services_list, class: 'form-control', placeholder: 'e.g. massage, brackets'
      %span.help-block Enter values separated by comma
    .form-group
      = f.label :clinic_type_id
      = f.collection_select :clinic_type_id, Spree::ClinicType.all, :id, :name, {}, {  class: 'form-control' }
    %label Working time
    = f.fields_for :timings do |tf|
      = render 'spree/shared/timing_panel', tf: tf
    .form-group
      = f.submit 'Create', class: 'btn btn-primary'
