%h1 Your Clinics
%table
  %thead
    %tr
      %th Name
      %th Address
      %th Description
      %th Clinic type
      %th{:colspan => "3"}
  %tbody
    - @spree_clinics.each do |spree_clinic|
      %tr
        %td= spree_clinic.name
        %td= spree_clinic.full_address
        %td= spree_clinic.description
        %td= spree_clinic.clinic_type.name
        %td= link_to 'Show', spree.clinic_path(spree_clinic)
        %td= link_to 'Edit', spree.edit_clinic_path(spree_clinic)
        %td= link_to 'Destroy', spree.clinic_path(spree_clinic), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Clinic', spree.new_account_clinic_path
