<p id="notice"><%= notice %></p>

<p>
  <strong>Suburb:</strong>
  <%= @spree_clinic.suburb %>
</p>

<p>
  <strong>User:</strong>
  <%= @spree_clinic.user %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @spree_clinic.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @spree_clinic.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spree_clinic.description %>
</p>

<p>
  <strong>Clinic type:</strong>
  <%= @spree_clinic.clinic_type %>
</p>

<p>
  <strong>Street:</strong>
  <%= @spree_clinic.street %>
</p>

<p>
  <strong>Building:</strong>
  <%= @spree_clinic.building %>
</p>

<%= link_to 'Edit', edit_spree_clinic_path(@spree_clinic) %> |
<%= link_to 'Back', spree_clinics_path %>
