%p#notice= notice
.panel.panel-default
  .panel-heading
    %h3= @spree_clinic.name
    %div
      %strong= @spree_clinic.clinic_type.name
    %p= @spree_clinic.full_address
    %hr
    %div{:role => "tabpanel"}
      %ul.nav.nav-pills{:role => "tablist"}
        %li{:class => "active", :role => "presentation"}= link_to 'General', '#general', data: { toggle: 'tab' }
        %li{:class => "", :role => "presentation"}= link_to 'Map', '#map', id: 'clinic_map_tab_link', data: { toggle: 'tab' }
        %li{:class => "", :role => "presentation"}= link_to 'About', '#about', data: { toggle: 'tab' }
  .panel-body
    .tab-content
      #general{:class => "tab-pane active"}
        .row
          .col-md-3
            %h4
              %span.glyphicon.glyphicon-time
              Working Time
            = human_timings @spree_clinic.timings
        %hr/
        %h3 Doctors
        %div
          - @spree_clinic.doctor_employments.all.each do |empl|
            = render partial: 'doctor_card', locals: { empl: empl }
            %hr/
      #map.tab-pane
        .row
          .col-xs-12
            #map_canvas
      #about.tab-pane
        %p= @spree_clinic.description
=javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{SpreeFindaDoc.gmaps_api}&sensor=false"
:coffee
  $ ->
    window.clinic_position = new google.maps.LatLng(#{@spree_clinic.latitude},#{@spree_clinic.longitude})
    mapOptions = 
      zoom: 14
      center: clinic_position
      mapTypeId: google.maps.MapTypeId.ROADMAP

    window.map = new google.maps.Map($('#map_canvas').get(0), mapOptions)
    window.map.setCenter(window.clinic_position)
    marker = new google.maps.Marker
      position: clinic_position
      map: window.map
      animation: google.maps.Animation.DROP
      title: "#{@spree_clinic.name}"