<p id="notice"><%= notice %></p>

<p>
  <strong>Clinic:</strong>
  <%= @spree_doctor.clinics %>
</p>

<p>
  <strong>User:</strong>
  <%= @spree_doctor.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @spree_doctor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spree_doctor.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @spree_doctor.phone %>
</p>

<p>
  <strong>Is for instant booking:</strong>
  <%= @spree_doctor.is_for_instant_booking %>
</p>
