<p id="notice"><%= notice %></p>
<h3>Dr. <%= @spree_doctor.name %></h3>
<h4><%= @spree_doctor.specialties.all.map(&:name).join(', ') %></h4>

<p>
  <%= @spree_doctor.description %>
</p>

<h4>Info</h4>
<div><strong>Practices at</strong>
<% @spree_doctor.doctor_employments.all.each do |empl| %>
  <h5><%= empl.clinic.suburb.name %>, <small><%= empl.clinic.suburb.city.name %></small></h5>
  <%= link_to empl.clinic.name, empl.clinic %><br />
  <%= empl.clinic.full_address %><br />
  <%= empl.consultation_currency + ' ' + empl.consultation_price.round.to_s %>
  <hr>
<% end %>
</div>