.row
  .col-xs-12
    %h2 Doctor Search
    = render 'search_form'
.row
  .col-md-3
    = render 'search_details_form'
  .col-md-9
    - @result.result.each do |r|
      .pull-right [debug] Appointments in last 30 days count: #{r.appointments.where(created_at: 30.days.ago..DateTime.now).count}
      - if params[:search_for] == 'clinic'
        = render 'clinic_card', clinic: r, for_search_page: true
      - else
        = render partial: 'doctor_card', locals: { empl: r, for_search_page: true }
      %hr/
