%h3
  Please verify your phone number (#{@user.doctor.phone})
%p You will be available for search only if your phone is verified
- if @user.verifications.empty?
  .panel
    = form_for [:account, Spree::Verification.new] do |f|
      = hidden_field_tag 'verification[phone]', @user.doctor.phone
      = f.submit 'Send activation code'
- elsif @user.verifications.active.any?
  .panel
    [debug] sent confirmation code: #{@user.verifications.active.last.token}
    %br/
    = form_tag complete_account_verifications_path do
      = label_tag 'Activation code:'
      = text_field_tag "verification[token]"
      = submit_tag 'Verify'
    %p
      = form_for [:account, Spree::Verification.new] do |f|
        = hidden_field_tag 'verification[phone]', @user.doctor.phone
        = f.submit 'Send activation code again'
