  <p>
    <%= f.label :clinics %><br />
    <% @user.doctor.doctor_employments.all.each do |employment| %>
      <p> <%= employment.clinic.name %> 
    , <%= employment.consultation_price %> <%= employment.consultation_currency %> 
       (<%= link_to 'Remove', [:account, employment], method: :delete, data: { confirm: 'Are you sure?' } %>)</p>
    <% end %>
    <%= f.fields_for :doctor_employments, doctor.doctor_employments.build do |daf| %>
      <p><%= daf.collection_select :clinic_id, Spree::Clinic.all, :id, :name, prompt: 'Select a clinic please..' %><br />
      <%= daf.text_field :consultation_price, placeholder: 'Consultation price' %>
      <%= daf.select :consultation_currency, options_for_select(Spree::Currency.all) %></p>
      <p>
        <% 7.times {|i| doctor.doctor_employments.last.timings.new(day: i)} %>
        <%= daf.fields_for :timings do |tf| %>
          <div class="row">
          <div class="timing">
            <span class="slider-value-from"></span>
            <span class="slider-value-to"></span>
            <%= tf.text_field :start_time %>
            <%= tf.text_field :end_time %>
            <div class="slider-time-range"></div>
          </div>
        <% end %>
      </p>
    <% end %> 
    or <%= link_to 'create one', spree.new_account_clinic_path %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>  
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>  
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </p>
  <p>
    <%= f.label :is_for_instant_booking %><br>
    <%= f.check_box :is_for_instant_booking %>
  </p>
  <p>
    <%= f.label :specialties %><br />
    <%= hidden_field_tag "user[doctor_attributes][specialty_ids][]", nil %>
    <% Spree::Specialty.all.each do |s| %>
      <%= check_box_tag "user[doctor_attributes][specialty_ids][]", s.id, doctor.specialty_ids.include?(s.id), id: dom_id(s) %>
      <%= label_tag dom_id(s), s.name %><br />
    <% end %>
  </p>
