  <p>
    <%= f.label :clinics %><br />
    <%= f.fields_for :doctor_employments do |daf| %>
      <%= daf.collection_select :clinic_id, Spree::Clinic.all, :id, :name, prompt: 'Select a clinic please..' %><br />
      <%= daf.text_field :consultation_price, placeholder: 'Consultation price' %>
      <%= daf.select :consultation_currency, options_for_select(Spree::Currency.all) %><br />
    <% end %> 
    or <%= link_to 'create one', spree.new_account_clinic_path %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>  
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %>
  </p>
  <p>
    <%= f.label :is_for_instant_booking %><br>
    <%= f.check_box :is_for_instant_booking %>
  </p>
  <p>
    <%= f.label :specialties %><br />
    <%= hidden_field_tag "user[doctor_attributes][specialty_ids][]", nil %>
    <% Spree::Specialty.all.each do |s| %>
      <%= check_box_tag "user[doctor_attributes][specialty_ids][]", s.id, doctor.specialty_ids.include?(s.id), id: dom_id(s) %>
      <%= label_tag dom_id(s), s.name %><br />
    <% end %>
  </p>
