.panel.panel-default{ id: "day_panel_#{tf.object.day}" }
  .panel-body.form-inline.clearfix
    -# %span.slider-value-from
    -# %span.slider-value-to
    %label= day_name tf.object.day
    = tf.hidden_field :day
    .pull-right.btn-group{ "data-toggle" => "buttons" }
      = tf.label :is_working_day, class: 'btn btn-default active' do
        = tf.radio_button :is_working_day, 'not_working', checked: tf.object.not_working?
        Not working
      = tf.label :is_working_day, class: 'btn btn-default ' do
        = tf.radio_button :is_working_day, 'working', checked: tf.object.working?
        Working
    .timing.timing-inline.pull-right
      = tf.hidden_field :start_time, class: 'slider-input slider-time-input slider-time-input-from', readonly: false, id: "timing_start_time_#{tf.object.day}"
      = tf.hidden_field :end_time, class: 'slider-input slider-time-input slider-time-input-to', readonly: false, id: "timing_end_time_#{tf.object.day}"
      .slider-time-value
      .slider-time-range